<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <meta name="description" content="A little bit of information about what KingPoll does and why!">
  <meta content="/images/favicon.ico" itemprop="image">
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/about.css" type="text/css" />
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/footer.css" type="text/css" />
  <link rel="stylesheet" href="/css/dash.css" type="text/css" />
</head>
<body>
  <div id='dash'></div>
  <div id='wrapper' class="about">
    <div id='branding'>
      <!-- <img src="/images/kingpoll_347x270_666.png"> -->
      <!-- <span id='nameLogo'>kingpoll.</span><div id='wrapLogo'><img src="/images/kingstache_666.png" alt="There's a poll for that." id='imgLogo'></div> -->
      <br/><!-- <span id='slogan'>There's a poll for that.</span> -->
    </div>
    <!-- <div id='feed'>
      <strong>Active Voters: </strong><span id='u_count'>0</span><br/><strong>Polls: </strong><span id='p_count'>0</span>
      <div id='polls'>
        <span>feed1<span>c1 c2</span></span>
      </div>
      <button>Stop Feed</button>
    </div> -->
    <div id='howto'>
      <div class='header'>How does this work?</div>
      <p>Coke or Pepsi? Cat or dog? Do aliens exist? Fold or crumple? Want to know if you're part of an elite minority with special preferences? You're in the right place.</p>
      <p>You see a poll, you vote. Don't see a poll? Make one. Don't want people knowing what you've voted? Vote anonymously. Only show what you want to show.</p>
      <div class='header'>Anonymous?</div>
      <p>Yeah. ANONYMOUS. Signing up is annoying; I don't want to ruin your fun. Just vote; your votes are cool. But we'll be adding special features for accounts in the future so sign up to reserve your username!</p>
      <div class='header'>How do you make sure people can't vote more than once?</div>
      <p>We use a number of basic and weird analytical gimmicks to keep track of your votes. It's not 100% but hopefully we've identified each user well enough to get 90%+ accuracy! We're just going to have to wait and see as the numbers come in.</p>
      <div class='header'>What can I do on this site?</div>
      <p style="padding-bottom:0; margin-bottom:0">Let's start with why I made this site: I'm a curious person. Humans are curious by nature. Questions -- sometimes trivial, sometimes hypothetical -- would arise within my social circle and arguments over what's better, would surely follow.</p>
      <p>What if you could quickly and easily ask the world a crazy question and get an honest answer? Mindblasting. So how would you do this? Facebook? You can't just randomly add people and ask creepy questions. OK, so Twitter? You have like 9 followers, don't kid yourself. <strong>OK, why don't I just go to one of the million other survey sites out there?</strong> You can, but they care only about themselves. They make you sign up, pay for their services, or they give you a simple and free poll link, but you need to get it out there yourself. It's scary out there, and <strong>sometimes you don't want people knowing what you're thinking, but you so desperately want to know what others think</strong>. Oh man, that's deep.</p>
      <p>Then comes along this site. Ask what you want; let your thoughts run wild and free. You're behind a veil of anonymity; free from judgement, free from inconveniences, just free as you can be.</p>
      <div class='header'>What is the end goal of this site?</div>
      <p style='margin-bottom:0; padding-bottom:0'>We want to be the Wikipedia of opinions. You can google your questions but depending on where you go, biases will always skew the answers. If we can get everyone using our site, we can get an accurate opinion on any question in a centralized place that anyone can access and contribute.</p>
      <p>And some time in the future, when the world trusts us enough, we hope to implement a voting system for elections around the world. But this will be in the very <strong>FAR</strong> future. What we want know is for everyone to just have fun using our platform.</p>
      <div class='header'>TL;DR plz.</div>
      <p style='margin-bottom:0; padding-bottom:0'>OK OK. Here's a point-form summary:</p>
      <ul>
        <li>Wikipedia of opinions</li>
        <li>Free private (coming soon) or public polls.</li>
        <li>Totally Anonymous.</li>
        <li>Quick and easy. Did I mention fun?</li>
        <li>Ask anything you want. <em>ANYTHING</em>.</li>
        <li>Answers from the world.</li>
        <li>Use in any social network; just link to your poll.</li>
        <li>Statistics and demographics.</li>
      </ul>
      <p>Still not interested? Damnit, that was my best speech. Well, if I can't convince you to stay, at least try some polls. Never hurts to try right? Wait, don't answer; <em>there's probably a poll for that</em>.</p>
    </div>
  </div>
  <div class="navbar navbar-inverse navbar-bottom">
    <div class="container-fluid" id='footer'></div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="/js/colors.js"></script>
  <script src="/js/about.js"></script>
  <script type="text/javascript" src="/js/dashboard.js"></script>
  <script>$('#dash').load('/views/dash.html')</script>
  <script>$('#footer').load('/views/footer.html')</script>
</body>
</html>