<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-  scale=1.0">
  <title>kingpoll.</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/about.css" type="text/css" />
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/footer.css" type="text/css" />
  <link rel="stylesheet" href="/css/dash.css" type="text/css" />
</head>
<body>
  <div id='dash'></div>
  <div id='wrapper' class="policy-wrap">
    <div id='branding'>
      <!-- <img src="/images/kingpoll_347x270_666.png"> -->
      <!-- <span id='nameLogo'>kingpoll.</span><div id='wrapLogo'><img src="/images/kingstache_666.png" alt="There's a poll for that." id='imgLogo'></div> -->
      <br/><!-- <span id='slogan'>There's a poll for that.</span> -->
    </div>
    <div class="contact-content">
      <h1>E-Mail</h1>
      <p><a href="mailto:iokingpoll@gmail.com">iokingpoll@gmail.com</a><br>
      <span>Feel free to contact us about anything. We will try our best to respond! E-mail us about anything from suggestions for improvement to bugs found to general things you like or hate.</span></p>
      <p><a href="mailto:iokingpoll@gmail.com">KINGPOLLInc@gmail.com</a><br>
      <span>We are looking for funding and donations to further the site into something that will benefit the world. Please contact us if you're interested in investing in our company!</span></p>
      <h1>Social Media</h1>
      <p><a href="https://www.facebook.com/kingpollofficial">Facebook</a><br>
      <span>Follow us on facebook to see fancy images with trending questions on your feed!</span></p>
      <p><a href="https://twitter.com/kingpollinc">Twitter</a><br>
      <span>We will be tweeting polls related on what's currently trending on twitter. Come give us a follow and you will be entertained.</span></p>
    </div>
  </div>
  <div class="navbar navbar-inverse navbar-bottom">
    <div class="container-fluid" id='footer'></div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<!--<script src="/js/colors.js"></script>
  <script src="/js/about.js"></script>-->
  <script type="text/javascript" src="/js/dashboard.js"></script>
  <script>$('#dash').load('/views/dash.html')</script>
  <script>$('#footer').load('/views/footer.html')</script>
</body>
</html>