<!-- <div class="navbar-header">
  <div class='logo'>
    <img src="/images/kingstache_fff_s.png" alt="Question Everything." class="pull-left">
    <a class="navbar-brand pull-left" href="#">kingpoll.</a>  
  </div>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href='/about'> About </a></li>
    <li><a href='#'> Contact </a></li>
    <li><a href='#'> Policy</a></li>
    <li><a href='#'>Copyright © 2013 </a></li>
  </ul>
</div> -->

<div class="footer-logo-wrap">
  <div class='logo'>
    <img src="/images/kingstache_fff_s.png" alt="Question Everything." class="pull-left">
    <a class="navbar-brand pull-left" href="/home">kingpoll.</a>  
  </div>
</div>
<div class="footer-content col-xs-9 col-sm-10 col-xl-11">
  <div class="section section1">
    <span>Copyright © 2014 KingPoll</span>
  </div>
  <div class="section section2">
    <span><a href='https://twitter.com/kingpollinc'> Twitter </a></span>
    <span><a href='https://www.facebook.com/kingpollofficial'> Facebook </a></span>
    <span>|</span>
    <span><a href='/about'> About </a></span>
    <span><a href='/contact'> Contact </a></span>
    <span><a href='/policy'> Policy</a></span>
  </div>
</div>