<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>kingpoll.</title>
    <link rel="stylesheet" href="/flat-ui/jquery-ui-1.10.3.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/dash.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />
</head>
<body>
  <div id='wrapper'>
    <div id='branding'>
      <span id='nameLogo'>kingpoll.</span><div id='wrapLogo'><img src="/images/kingstache_666.png" alt="Question Everything." id='imgLogo'></div>
      <br/><!-- <span id='slogan'>There's a poll for that.</span> -->
    </div>
  </div>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_identifier = 'landing';
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    <div id="footer"></div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/colors.js"></script>
  <script>$('#dash').load('/views/dash.html')</script>
  <script>$('#footer').load('/views/footer.html')</script>
</body>
</html>