<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>kingpoll. -- Question Everything! Have a question? Ask the world!</title>
  <meta name="description" content="Question Everything! King Poll is the Wikipedia of opinions where great minds come together to find the answers to the world's most asked questions!">
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/flat-ui/jquery-ui-1.10.3.custom.min.css" type="text/css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/landing.css" type="text/css" />
  <link rel="stylesheet" href="/css/dash.css" type="text/css" />
  <link rel="stylesheet" href="/css/footer.css" type="text/css" />
</head>
<body>
  <div id='dash'></div>
  <div id='wrapper' class='container-fluid landing'>
    <div class='col-md-10 shift-top'>
      <div class='top'>
        <!-- <img class="imgbg" src="http://lorempixel.com/900/900/abstract/2"> -->
        <div class="hero">
          <div id='branding' class='branding'>
            <div class='banner-wrap'>
              <div class='banner-border'>
                <div class='banner'>
                  <span class='line'>Alpha Release</span>
                </div>
              </div>
            </div>
            <!-- <img src="/images/kingpoll_347x270_white.png"> -->
            <!-- <span id='nameLogo'>kingpoll.</span><div id='wrapLogo'><img src="/images/kingstache_fff_s.png" alt="Question Everything." id='imgLogo'></div> -->
            <br/>
          </div>
          <span class='version-label'>(&nbsp;Alpha Release&nbsp;)</span>
        </div>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <!-- <div class="jumbotron">
          <div id="carousel-main" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-main" data-slide-to="1"></li>
              <li data-target="#carousel-main" data-slide-to="2"></li>
              <li data-target="#carousel-main" data-slide-to="3"></li>
              <li data-target="#carousel-main" data-slide-to="4"></li>
            </ol>
            <div class='absolute'>
              <div class='banner-wrap'>
                <div class='banner-border'>
                  <div class='banner'>
                    <span class='line'>Alpha Release</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-inner">
              <div class="item active">
                <img src="http://lorempixel.com/900/900/abstract/2">
                <div class="container">
                  <div id='branding'>
                    <span id='nameLogo'>kingpoll.</span><div id='wrapLogo'><img src="/images/kingstache_fff_s.png" alt="Question Everything." id='imgLogo'></div>
                    <br/>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="http://lorempixel.com/900/900/technics">
                <div class="container">
                  <div class="carousel-caption">
                    <h2>The Online Celebrity</h2>
                    <p>Interact with your audience.</p>
                    <p><a class="btn btn-primary" href="#">Demo</a></p>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="http://lorempixel.com/900/900/abstract/7">
                <div class="container">
                  <div class="carousel-caption">
                    <h2>The Casual</h2>
                    <p>Feed your curiosity.</p>
                    <p><a class="btn btn-primary" href="#">Demo</a></p>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="http://lorempixel.com/900/900/abstract/9">
                <div class="container">
                  <div class="carousel-caption">
                    <h2>The Writer & Artist</h2>
                    <p>Free your mind.</p>
                    <p><a class="btn btn-primary" href="#">Demo</a></p>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="http://lorempixel.com/900/900/business">
                <div class="container">
                  <div class="carousel-caption">
                    <h2>The Businessman</h2>
                    <p>Understand your customer preferences.</p>
                    <p><a class="btn btn-primary" href="#">Demo</a></p>
                  </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-main" data-slide="prev">
              <span class="icon-prev opacity-full"></span>
            </a>
            <a class="right carousel-control" href="#carousel-main" data-slide="next">
              <span class="icon-next opacity-full"></span>
            </a>  
          </div>
        </div> -->
        <div>
          <h1>Summary of Polls - General questions asked</h1>
          <div id='stats-wrap' class='row col-md-offset-3'>
            <div class='card col-md-2 col-sm-3 col-xs-3'>
              <span><h2 id='nViewers'>1</h2></span><h4>Online</h4>
            </div>
            <div class='card col-md-2 col-sm-3 col-xs-3'>
              <span><h2 id='nAccounts'>0</h2></span><h4>Users</h4>
            </div>
            <div class='card col-md-2 col-sm-3 col-xs-3'>
              <span><h2 id='nVotes'>0</h2></span><h4>Votes</h4>
            </div>
            <div class='card col-md-2 col-sm-3 col-xs-3'>
              <span><h2 id='nPolls'>0</h2></span><h4>Polls</h3>
            </div>
            <!-- <div class='card col-md-2'><span><h2>100</h2></span><h3>Anonymous</h3></div> -->
          </div>
        </div>
      </div>
      <div id="carousel-polls" class="carousel slide">
  <!--       <ol class="carousel-indicators">
          <li data-target="#carousel-polls" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-polls" data-slide-to="1"></li>
          <li data-target="#carousel-polls" data-slide-to="2"></li>
          <li data-target="#carousel-polls" data-slide-to="3"></li>
          <li data-target="#carousel-polls" data-slide-to="4"></li>
        </ol> -->
        <div class="carousel-inner">
          <div class="wrap item active">
            <div class="row">
              <div class='ml2r sel-list-wrap'>
                <table>
                  <tr>
                    <td>
                      <h3 class='inline'>Sort:</h3>
                    </td>
                    <td>
                      <select class="sel-list">
                        <option value="newest">Newest</option>
                        <option value="mostvotes">Most Votes</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <td></td>
                  <td><b>Question</b></td>
                  <td><b>Votes</b></td>
                  <td><b>Avg. Vote Time</b></td>
                </tr>
              </thead>
              <tbody id='polls-wrap'>
              </tbody>
            </table>
          </div>
        </div>
        <div class="wrap item">
          <div class="col-md-10 col-md-offset-1 row">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td></td>
                  <td><b>Question</b></td>
                  <td><b>Votes</b></td>
                  <td><b>Avg. Vote Time</b></td>
                </tr>
              </thead>
              <tbody id='polls-wrap'>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='notes' class='col-md-2 hidden-xs hidden-sm'>
    <div class='group upcoming'>
      <h4>Upcoming Features</h4>
      <span class='title'>More Maps!</span>
      <span class='desc'>We're looking to implement the map for Europe next, then a world map.</span>
      <span class='title'>Poll Series</span>
      <span class='desc'>Link polls in a series for follow-up questions or use it to create a multi-path story.</span>
      <span class='title'>Account Pages</span>
      <span class='desc'>Check your stats, polls, votes, comments, and check out others.</span>
      <span class='title'>Badges/Achievements</span>
      <span class='desc'>No point having an account if it doesn't mean anything.</span>
    </div>
    <div class='group issues'>
      <h4>Known Issues</h4>
      <span class='title'>All</span>
      <span class='desc'>- Link scraper in new poll creation will sometimes show Error 404 even though link works</span>
      <span class='desc'>- Poll pie chart animation will lag if left too long</span>
      <span class='title'>Safari</span>
      <span class='desc'>Cannot vote with private browsing due to the fact that Safari does not allow localStorage to be used. Working on cookies shim.</span>
      <span class='title'>WP8</span>
      <span class='desc'>Random Button does not work. Suspecting onclick call not working properly. Sockets not working 100%.</span>
    </div>
    <div class='group updates'>
      <h4>Update Notes</h4>
      <span class='title'>25/6/2014</span>
      <span class='desc'>Fixed issue where DISQUS and description would reload when someone voted. Added function to hide results until user votes.</span>
      <span class='title'>24/6/2014</span>
      <span class='desc'>Added sorting to poll list. Cleaner social sharing buttons! Fixed issue where poll kept jumping back to Canadian map on vote.</span>
      <span class='title'>19/6/2014</span>
      <span class='desc'>Implemented fingerprinting analytics in place of email requirement when voting anonymously.</span>
      <span class='title'>11/6/2014</span>
      <span class='desc'>Performance and aesthetic changes, fixes on signup page, back-end changes.</span>
      <span class='title'>3/6/2014</span>
      <span class='desc'>Adding DISQUS comments</span>
      <span class='title'>26/5/2014</span>
      <span class='desc'>Added anonymous vote restriction to only allow @gmail.com</span>
      <span class='title'>29/4/2014</span>
      <span class='desc'>Fixed map size on load scaling to be very tiny</span>
      <span class='title'>17/2/2014</span>
      <span class='desc'>Added this update section. Changed how vote time averages are calculated. DB wipe.</span>
      <span class='title'>16/2/2014</span>
      <span class='desc'>Refined email verification text for clarity, some text changes around the site.</span>
      <span class='title'>13/2/2014</span>
      <span class='desc'>KingPoll accounts now vote properly.</span>
      <span class='title'>12/2/2014</span>
      <span class='desc'>Alpha release!</span>
    </div>
  </div>
</div>
<!-- <div id="disqus_thread"></div> -->
<script type="text/javascript">
      // var disqus_identifier = 'landing';
      </script>
  <!-- <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">Loading Comments... <span class="logo-disqus">Disqus</span></a> -->
  <div class="navbar navbar-inverse navbar-bottom">
    <div class="container-fluid" id='footer'></div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script>$(window).on('beforeunload', function() {
    $(window).scrollTop(0); 
  });</script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="/js/colors.js"></script>
  <script src="/js/dualwield.js"></script>
  <script src="/js/landing.js"></script>
  <script>$('#dash').load('/views/dash.html')</script>
  <script>$('#footer').load('/views/footer.html')</script>
</body>
</html>