<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE html> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kingpoll: http://ogp.me/ns/fb/kingpoll#">
  <meta name="viewport" content="width=device-width">
  <title>KingPoll - Question Everything.</title>
  <meta name="description" content="Get your questions answered from the world; find out what people really think about you!">
  <meta content="/images/favicon.ico" itemprop="image">
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/radiobutton.css" type="text/css" />
  <link rel="stylesheet" href="/css/landing_splash.css" type="text/css" />
  <!-- for Facebook -->    
  <!-- <meta property="fb:app_id" content="1447667995463132" />      
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{{image}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:url" content="{{url}}" /> -->

  <!-- for twitter -->        
  <!-- <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:image:src" content="{{image}}" />
  <meta property="twitter:description" content="{{description}}" />
  <meta property="twitter:title" content="{{title}}" /> -->
</head>
<body class="splash">
  <div id="wrapper">
    <div class="header">
      <div class="logo_wrap">
        <img src="/images/splash_brand.png" alt="KingPoll - Question Everything.">
      </div>
      <div class="login">
        <h3>Login</h3>
        <form action="login" method="post" accept-charset="utf-8">
          <div class="field">
            <label for="tbUsername">Username</label>
            <input id="tbUsername" type="text" class='f' name='username' pattern='[A-z0-9 _]{1,}' maxlength='20' required />
          </div>
          <div class="field">
            <label for="tbPassword">Password</label>
            <input id="tbPassword" type="password" class='f'  name='password' required />
          </div>
        </form>
      </div>
    </div>
    <div class="content">
      <div class="branding">
        <img src="/images/kingpoll_347x270_white.png" alt="">
        <div class='skip_splash'>
          <span>I don't want to sign up; I'm just here for the party!</span>
          <a href="/home" title="Go to the fun!"><div class='button'>
            Go to the fun!
          </div></a>
        </div>
      </div>
      <div class="callout">
        <div class="message">
          <h1>Have you ever wondered if the rest of the world thinks like you?</h1>
          <h2>Have you ever wondered what people think <span style="text-decoration: underline; font-weight:bold;">about you</span>?</h2>
          <h2>Find out for <span style="text-decoration:underline">FREE</span>!</h2>
        </div>
        <div class="signup">
          <form action="signup" method="post" accept-charset="utf-8">
            <div class="field">
              <label for="tbEmail">Email</label>
              <input id="tbEmail" type="email" class='f' name='email' 
              oninvalid="setCustomValidity('Example: username@kingpoll.com')" 
              onchange="try{setCustomValidity('')}catch(e){}" required />
            </div>
            <div class="field">
              <label for="tbUsername">Username</label>
              <input id="tbUsername" type="text" class='f' name='username' pattern='[A-z0-9 _]{1,}' maxlength='20' required />
            </div>
            <div class="field">
              <label for="tbPassword">Password</label>
              <input id="tbPassword" type="password" class='f'  name='password' required />
            </div>
            <div class="field">
              <label for="tbCheckPassword">Re-type Password</label>
              <input id="tbCheckPassword" type="password" class='f' name='password'  required />
            </div>
            <div id='submit_signup'>
              <button type='submit' id='submit'>Sign Up!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="divide_section">
      <h2>&nbsp;</h2>
    </div>
    <div class="whoareyou">
      <h2>What kind of a person do you think you are?</h2>
      <img src="/images/splash_whoareyou.png" alt="Smart. Brave. Or a Lover?">
      <h2>Your friends might not think so.</h2>
    </div>
    <div class="divide_section">
      <h2>&nbsp;</h2>
    </div>
    <div class="whatcando">
      <h2>So what can you do?</h2>
      <div class="section step1">
        <img src="/images/splash_globe.png" alt="Ask the world.">
        <span>Ask the world any question about yourself</span>
      </div>
      <div class="section step2">
        <img src="/images/splash_clock.png" alt="Share on social media.">
        <span>Share on your social media and wait</span>
      </div>
      <div class="section step3">
        <img src="/images/splash_magglass.png" alt="Analyze results. Highlight your strengths, improve your weaknesses.">
        <span>Analyze results</span>
      </div>
      <div class="section step4">
        <img src="/images/splash_rightarrow.png" alt="Analyze results. Highlight your strengths, improve your weaknesses.">
        <span>Highlight your strengths, improve what you don't like</span>
      </div>
      <div class="section step5">
        <img src="/images/splash_money.png" alt="Analyze results. Highlight your strengths, improve your weaknesses.">
        <span>Market yourself by sharing your profile (Or just brag)</span>
      </div>
    </div>
    <div class="divide_section">
      <h2>&nbsp;</h2>
    </div>
    <div class="whatweoffer">
      <h2>So how is KingPoll going to help?</h2>
      <img src="/images/splash_whoareyou.png" alt="Smart. Brave. Or a Lover?">
    </div>
    <div class="divide_section">
      <h2>&nbsp;</h2>
    </div>
    <div class="footer">
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/colors.js"></script>
  <script src="/js/dualwield.js"></script>
  <script src="/js/bower_components/fingerprint/fingerprint.js"></script>
  <!--<script src="{{js_script}}"></script>-->
  <script src="/js/login.js"></script>
</body>
</html>
