<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE html> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# kingpoll: http://ogp.me/ns/fb/kingpoll#">
  <meta name="viewport" content="width=device-width">
  <title>KingPoll - Question Everything.</title>
  <meta name="description" content="Get your questions answered from the world; find out what people really think about you!">
  <meta content="/images/favicon.ico" itemprop="image">
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/radiobutton.css" type="text/css" />
  <link rel="stylesheet" href="/css/landing_splash.css" type="text/css" />
  <!-- for Facebook -->    
  <!-- <meta property="fb:app_id" content="1447667995463132" />      
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{{image}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:url" content="{{url}}" /> -->

  <!-- for twitter -->        
  <!-- <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:image:src" content="{{image}}" />
  <meta property="twitter:description" content="{{description}}" />
  <meta property="twitter:title" content="{{title}}" /> -->
</head>
<body class="splash">
  <div id="wrapper">
    <div class="header">
      <div class="logo_wrap">
        <img src="/images/splash_brand.png" alt="KingPoll - Question Everything.">
      </div>
      <div class="login">
        <h3>Login</h3>
        <form action="login" method="post" accept-charset="utf-8">
          <div class="field">
            <label for="tbUsername">Username</label>
            <input id="tbUsername" type="text" class='f' name='username' pattern='[A-z0-9 _]{1,}' maxlength='20' required />
          </div>
          <div class="field">
            <label for="tbPassword">Password</label>
            <input id="tbPassword" type="password" class='f'  name='password' required />
          </div>
        </form>
      </div>
    </div>
    <div class="content">
      <div class="branding">
        <img src="/images/kingpoll_347x270_white.png" alt="">
        <div class='skip_splash'>
          <span>I don't want to sign up; I'm just here for the party!</span>
          <a href="/home" title="Go to the fun!"><div class='button'>
            Go to the fun!
          </div></a>
        </div>
      </div>
      <div class="callout">
        <div class="message">
          <h1>Have you ever wondered if the rest of the world thinks like you?</h1>
          <h2>Have you ever wondered what people think <span style="text-decoration: underline; font-weight:bold;">about you</span>?</h2>
          <h2>Find out for <span style="text-decoration:underline">FREE</span>! Sign up now!</h2>
        </div>
        <div class="signup">
          <form action="signup" method="post" accept-charset="utf-8">
            <div class="field">
              <label for="tbEmail">Email</label>
              <input id="tbEmail" type="email" class='f' name='email' 
              oninvalid="setCustomValidity('Example: username@kingpoll.com')" 
              onchange="try{setCustomValidity('')}catch(e){}" required />
            </div>
            <div class="field">
              <label for="tbUsername">Username</label>
              <input id="tbUsername" type="text" class='f' name='username' pattern='[A-z0-9 _]{1,}' maxlength='20' required />
            </div>
            <div class="field">
              <label for="tbPassword">Password</label>
              <input id="tbPassword" type="password" class='f'  name='password' required />
            </div>
            <div class="field">
              <label for="tbCheckPassword">Re-type Password</label>
              <input id="tbCheckPassword" type="password" class='f' name='password'  required />
            </div>
            <div id='submit_signup'>
              <button type='submit' id='submit'>Sign Up!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="divide_section">
      <h2>&nbsp;</h2>
    </div>
    <div class="whoareyou">
      <h2>What kind of a person do you think you are?</h2>
      <img src="/images/splash_whoareyou.png" alt="Smart. Brave. Or a Lover?">
      <h2>Your friends might not think so.</h2>
    </div>
    <div class="divide_section">
      <h2>&nbsp;</h2>
    </div>
    <div class="whatcando">
      <h2>So what can you do?</h2>
      <div class="section step1">
        <img src="/images/splash_globe.png" alt="Ask the world.">
        <span>1. Ask the world any question about yourself</span>
      </div>
      <div class="section step2">
        <img src="/images/splash_clock.png" alt="Share on social media.">
        <span>2. Share on your social media and wait</span>
      </div>
      <div class="section step3">
        <img src="/images/splash_magglass.png" alt="Analyze results">
        <span>3. Analyze results</span>
      </div>
      <div class="section step4">
        <img src="/images/splash_rightarrow.png" alt="Highlight your strengths, improve what you don't like">
        <span>4. Highlight your strengths, improve what you don't like</span>
      </div>
      <div class="section step5">
        <img src="/images/splash_money.png" alt="Market yourself by sharing your profile (Or just brag)">
        <span>5. Market yourself by sharing your profile (Or just brag)</span>
      </div>
    </div>
    <div class="divide_section">
      <h2>&nbsp;</h2>
    </div>
    <div class="whatweoffer">
      <div class='square_section blank left'>
        <div class="subsection">
          <h2>So how is KingPoll going to help?</h2>
          <h3>Our polls offer a lot of features!</h3>
          <ul>
            <li>Anonymous - a level playing field for fair results</li>
            <li>Statistics on pretty much everything + pretty graphs!</li>
            <li>Compare yourself to your friends, then the world</li>
          </ul>
          <h3>In the future, example demographics we want to add:</h3>
          <ul>
            <li>Gender</li>
            <li>Age</li>
            <li>Culture</li>
          </ul>
        </div>
      </div>
      <div class='square_section right'>
        <div class="section">
          <img src="/images/splash_pie.png" alt="Example pie chart icon">
          <img src="/images/splash_bar.png" alt="Example bar chart icon">
        </div>
      </div>
    </div>
    <div class="whatweoffer">
      <div class='square_section left'>
        <div class="section">
          <img src="/images/splash_world.png" alt="Example pie chart icon">
        </div>
      </div>
      <div class='square_section blank right'>
        <div class="subsection">
          <h2>Customization, interactive maps</h2>
          <h3>Every poll will have interactive maps (currently only North America - with more to come!)</h3>
          <h4>Maps will show:</h4>
          <ul>
            <li>Total votes and results for each choice per region</li>
            <li>Color-coded to the colors <span style="text-decoration:underline;">YOU</span> choose for your poll</li>
            <li>Real-time changes - just leave your poll open in your browser and watch the votes come in as you share it</li>
          </ul>
          <h3>Make polls about you, someone else, an event in the world, art, history, technology, anything!</h3>
          <ul>
            <li>Discover who you are and the opinions of others!</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="divide_section">
      <h2>&nbsp;</h2>
    </div>
    <div class="testimonial">
      <h2>Testimonials</h2>
      <div>
        <h3>Snoop Dogg</h3>
        <h4>"Shout out 2 @KINGPOLLInc y'all helpn out da ppl kno who they are. ! checc it out !!"</h4>
      </div>
      <div>
        <h3>Jimmy Kimmel</h3>
        <h4>"does anyone even know who they are? well you can for sure with kingpoll www.kingpoll.com"</h4>
      </div>
      <div>
        <h3>@prattprattpratt</h3>
        <h4>"I didn't really know if people liked #GOTG until I saw the numbers on kingpoll!!"</h4>
      </div>
    </div>
    <div class="share">
      <a href="https://twitter.com/KINGPOLLInc" title="Follow us on Twitter!">
        <div class="social twitter">
          <div>
            <img src="/images/share/twitter_share.png" alt="Follow us on Twitter!">
          </div>
          <span>Follow us on twitter!</span>
        </div>
      </a>
      <a href="https://www.facebook.com/KingPollOfficial" title="Like us on Facebook!">
        <div class="social facebook">
          <div>
            <img src="/images/share/fb_share.png" alt="Like us on Facebook!">
          </div>
          <span>Like us on facebook</span>
        </div>
      </a>
    </div>
    <div class="footer">
      Copyright © 2014 KingPoll
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/colors.js"></script>
  <script src="/js/dualwield.js"></script>
  <script src="/js/bower_components/fingerprint/fingerprint.js"></script>
  <!--<script src="{{js_script}}"></script>-->
  <script src="/js/login.js"></script>
</body>
</html>
