<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>kingpoll.</title>
    <link rel="stylesheet" href="/css/radiobutton.css" type="text/css" />
    <link rel="stylesheet" href="/css/newpoll.css" type="text/css" />
    <link rel="stylesheet" href="/css/dash.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />
</head>
<body>
  <div id='dash'></div>
  <div id='wrapper'>
    <form method="post" id='newpoll'>
      <div id='template' class='radio'>
        <input id='template1' type='radio' name='template_choice' value='1' /><label for="template1">Yes/No</label><input id='template2' type='radio' name='template_choice' value='2' /><label for="template2">Simple</label><input id='template3' type='radio' name='template_choice' value='3'/><label for="template3">Custom</label>
      </div>
    	<div id='newpollopt'>
    		<div class='radio nchoice'><div>How many options to vote for?</div>
  			<input id='nchoice2' type='radio' name='nchoice' data-text='2' value='2' /><label for="nchoice2" class="nchoice-label">2</label><input id='nchoice3' type='radio' name='nchoice' data-text='3' value='3' /><label for="nchoice3" class="nchoice-label">3</label><input id='nchoice4' type='radio' name='nchoice' data-text='4' value='4' /><label for="nchoice4" class="nchoice-label">4</label><input id='nchoice5' type='radio' name='nchoice' data-text='5' value='5' /><label for="nchoice5" class="nchoice-label">5</label><input id='nchoice6' type='radio' name='nchoice' data-text='6' value='6' /><label for="nchoice6" class="nchoice-label">6</label>
    		</div>
        <div id='textconfig'>
          <div id='textchoice' class='radio'>Options & Color:<br/>
          </div>
        </div>
    	</div>
      <div id='questionconfig'>Your Question:
        <div id='yesno' class="checkradio">
        </div>
        <div id='simple'>
          <div id='simple_q'>
            <input type='radio' id='cb1' class='radio-cb' name='cb' value='sq1' />
            <label for='cb1' class='radio-cb-label'>What's beffffffffffffffffftter?</label>
            <input type='radio' id='cb2' class='radio-cb' name='cb' value='sq2'/>
            <label for='cb2' class='radio-cb-label'>What's worse?</label>
            <input type='radio' id='cb3' class='radio-cb' name='cb' value='sq3' />
            <label for='cb3' class='radio-cb-label'>Pick one.</label>
            <input type='radio' id='cb4' class='radio-cb' name='cb' value='sq4' />
            <label for='cb4' class='radio-cb-label'>What do you prefer?</label>
          </div>
        </div>
        <div id='custom'>
          <textarea id='custom_question' name="question" maxlength='140'></textarea><div><span>Left: 140</span></div>
        </div>
        Description:<br/>
        <textarea id='tbDescription' name="description" class='tbDesc' maxlength='512'></textarea><div><span>Left: 512</span></div>
      </div>
      <div id='preview'>Preview:
        <div id='preview_question'></div>
        <div class='radio'></div>
        <div id='prvw_tbDescription' class='tbDescription' readonly='readonly'></div>
      </div>
      <div id='makepoll'>
        <button type='submit' id='submit'>Make Poll!</button>
      </div>
    </form>
  </div>
<div id="footer"></div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="/js/colors.js"></script>
  <script src="/js/newpoll.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script>$('#dash').load('/views/dash.html')</script>
  <script>$('#footer').load('/views/footer.html')</script>
</body>
</html>