<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>kingpoll.</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/radiobutton.css" type="text/css" />
  <link rel="stylesheet" href="/css/newpoll.css" type="text/css" />
  <link rel="stylesheet" href="/css/dash.css" type="text/css" />
  <link rel="stylesheet" href="/css/footer.css" type="text/css" />
</head>
<body>
  <div id='dash'></div>
  <div id='wrapper' class='container-fluid'>
    <form method="post" id='newpoll' class='form-horizontal' role='form'>
        <div id='template' class='radio'>
          <input id='template1' type='radio' name='template_choice' value='1' /><label for="template1">Yes/No</label><!-- <input id='template2' type='radio' name='template_choice' value='2' /><label for="template2">Simple</label> --><input id='template3' type='radio' name='template_choice' value='3'/><label for="template3">Custom</label>
        </div>
      <div class="">
        <div id='newpollopt'>
          <div class='radio nchoice'>
            <div>How many choices to vote for?</div>
            <input id='nchoice2' type='radio' name='nchoice' data-text='2' value='2' /><label for="nchoice2" class="nchoice-label">2</label><input id='nchoice3' type='radio' name='nchoice' data-text='3' value='3' /><label for="nchoice3" class="nchoice-label">3</label><input id='nchoice4' type='radio' name='nchoice' data-text='4' value='4' /><label for="nchoice4" class="nchoice-label">4</label><input id='nchoice5' type='radio' name='nchoice' data-text='5' value='5' /><label for="nchoice5" class="nchoice-label">5</label><input id='nchoice6' type='radio' name='nchoice' data-text='6' value='6' /><label for="nchoice6" class="nchoice-label">6</label>
          </div>
          <div id='textconfig' class='col-md-6 col-md-offset-3'>
            <label for="textchoice" class="control-label">Options & Color:</label>
            <div id='textchoice' class='radio'></div>
          </div>
        </div>
      </div>
      <div class='col-md-12'>
        <div id='custom' class='form-group'>
          <!-- <textarea id='custom_question' name="question" class="tb" maxlength='140' required></textarea><div><span>Left: 140</span></div> -->
          <label for="custom_question" class="col-sm-2 control-label">Question:</label>
          <div class="col-sm-9">
            <input id='custom_question' name="question" class="tb form-control" maxlength='140' placeholder='Example: Are #dogs better than #cats?' required>
            <div><span>Left: 140</span></div>
          </div>
          <label for="embed-link" class="col-sm-2 control-label">Embed Link (Optional):</label>
          <div class="col-sm-9">
            <input id='embed-link' name="embed-link" class="tb form-control" placeholder="One link only from: youtube, twitch.tv -- more coming!">
          </div>
        </div>
        <div class='form-group'>
          <label for="tbDescription" class="col-sm-2 control-label">Description:</label>
          <div class="col-sm-9">
            <textarea type="text" id='tbDescription' name="description" class='tbDesc tb form-control' rows="7" placeholder="Links will automatically be changed to '[link #]' and provide a snippet at the end of description." maxlength='1024'></textarea>
            <div><span>Left: 1024</span></div>
          </div>
        </div>
      </div>
      <div class='col-xs-12'>
        <div class='form-group'>
          <div id='preview'>Preview:
            <div id='preview_question'></div>
            <div class='embed-wrap'>
              <div class='embed'></div>
              <div class='embed-href'></div>
            </div>
            <div id='prvw_tbDescription' class='tbDescription' readonly='readonly'></div>
            <div class='radio'></div>
          </div>
        </div>
      </div>
      <div id='makepoll' class='col-xs-12'>
        <button type='submit' id='submit'>Make Poll!</button>
      </div>
    </form>
  </div>
  <div class="navbar navbar-inverse navbar-bottom">
    <div class="container-fluid" id='footer'></div>
  </div>
  <div id='test'></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/colors.js"></script>
  <script src="/js/dualwield.js"></script>
  <script src="/js/newpoll.js"></script>
  <script>$('#dash').load('/views/dash.html')</script>
  <script>$('#footer').load('/views/footer.html')</script>
</body>
</html>


<!-- </div> -->
<!-- <div id='questionconfig'>Your Question: -->
<!--         <div id='yesno' class="checkradio">
        </div>
        <div id='simple'>
          <div id='simple_q'>
            <input type='radio' id='cb1' class='radio-cb' name='cb' value='sq1' />
            <label for='cb1' class='radio-cb-label'>What's beffffffffffffffffftter?</label>
            <input type='radio' id='cb2' class='radio-cb' name='cb' value='sq2'/>
            <label for='cb2' class='radio-cb-label'>What's worse?</label>
            <input type='radio' id='cb3' class='radio-cb' name='cb' value='sq3' />
            <label for='cb3' class='radio-cb-label'>Pick one.</label>
            <input type='radio' id='cb4' class='radio-cb' name='cb' value='sq4' />
            <label for='cb4' class='radio-cb-label'>What do you prefer?</label>
          </div>
        </div> -->