<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE html> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>kingpoll.</title>
    <link href="/jvectormap/jquery-jvectormap-1.2.2.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/radiobutton.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="http://nvd3.org/src/nv.d3.css" type="text/css" />
    <link rel="stylesheet" href="/css/charts.css" type="text/css" />
    <link rel="stylesheet" href="/css/poll.css" type="text/css" />
    <link rel="stylesheet" href="/css/disqus.css" type="text/css" />
    <link rel="stylesheet" href="/css/popup_signup.css" type="text/css" />
    <link rel="stylesheet" href="/css/dash.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />

    <!-- for Facebook -->    
    <meta property="fb:app_id" content="1447667995463132" />      
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.kingpoll.com/images/kingstache_000_154x154.png" />
</head>
<body>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1447667995463132',
          status     : true,
          xfbml      : true
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id='dash'></div>
    <div id="wrapper">
        <div id='question'>Getting poll, please wait...</div>
            <!-- <button id='click'>click</button>
            <button id='changepoll'>change poll</button>
            <button id='clearpoll'>clear</button> -->
        <div id="choices" class='choices'>
            <div class='radio'></div>
            <div class="share-buttons">
                <div style="display: none;" class="fb-share-button" data-href="http://kingpoll.com" data-type="button"></div>
            </div>
        </div>
        <div class='embed-wrap'>
            <div class='embed'></div>
            <div class='embed-href'></div>
        </div>
        <div id="tbDescription">
            <div class='tbDescription'></div>
        </div>
        <div id="results">
            <svg id='pieTotal' class='stats'></svg>
            <svg id='barVoteTime' class='stats barchart'></svg>
            <!-- <svg id='lineVoteFreq' class='stats'></svg>
            <svg id='results_chart'></svg> -->
            <svg id='activeViewers'></svg>
        </div>
        <div id="mid">
            <div id='mapButtons'>
                <!-- <input type="radio" id='radioWorld' class='radio-input' name='mapChoice' value='World' /><label for="radioWorld" class='radio-label'>World</label> -->
                <input type="radio" id='radioCA' class='radio-input' name='mapChoice' value='CA' /><label for="radioCA" class='radio-label'>Canada</label>
                <input type="radio" id='radioUS' class='radio-input' name='mapChoice' value='US' /><label for="radioUS" class='radio-label'>USA</label>
            </div>
            <!-- <div id="mapWorld" class='map'></div> -->
            <div class='mapcontainer'>
                <div id="mapUS" class='map'></div>
                <div id="mapCA" class='map'></div>
            </div>
        </div>
        <div id="messages">
            <span class="dsq-brlink">Loading Comments...</span>
        </div>
        <div id="messages-add-comments" class="col-xs-6">
            <form class="comment-form" id="comment-form" method="post">
                <input class="form-control" name="comment" placeholder="Enter Comment" />
            </form>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-bottom">
        <div class="container-fluid" id='footer'></div>
    </div>
    <div style='display:none'>
        <div id='signup_box' title='Are you a robot?'>
            Please enter your e-mail to vote.<br/>
            (This is to prevent skewing of results)
            <input type="text" id='tbEmail' name='signup_email'>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/colors.js"></script>
    <script src="/js/dualwield.js"></script>
    <script src="http://jvectormap.com/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.10/d3.min.js" charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://nvd3.org/nv.d3.js" charset="utf-8"></script>
    <script src="/jvectormap/maps/US_map.js"></script>
    <script src="/jvectormap/maps/CA_map.js"></script>
    <script src="/js/disqus.js"></script>
    <script>$('#footer').load('/views/footer.html')</script>
    <script>$('#dash').load('/views/dash.html')</script>
    <script src="/js/poll.js"></script>
</body>
</html>
