<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE html> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>kingpoll.</title>
    <link href="/jvectormap/jquery-jvectormap-1.2.2.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/radiobutton.css" type="text/css" />
    <link rel="stylesheet" href="/css/poll.css" type="text/css" />
    <link rel="stylesheet" href="/css/popup_signup.css" type="text/css" />
    <link rel="stylesheet" href="/css/dash.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />
    <!--<script src="/maps/data_usa.js" type="text/javascript"></script>-->
</head>
<body>
    <div id='dash'>
        Logo NewPoll Top100 Signup Login
    </div>
    
    <div id="wrapper">
        <div id='question'>Question</div>
        <div id="choices" class='choices'>
            <div class='radio'>Getting Data. Please Wait...</div>
<!--                 <button id='yes'>Yes</button>
            <button id='no'>No</button> -->
        </div>
        <div id="tbDescription">
            <div class='tbDescription'></div>
        </div>
        <div id="results">
            <svg id='results_chart'></svg>
        </div>
        <div id="mid">
            <div id="map"></div>
        </div>
        
        <div id="left">Yes Live Feed</div>
        <div id="right">No Live Feed</div>
        <div id="bottom">Messages</div>
    </div>
    <div id='signup_box' title='Are you a robot?'>
        Please enter your e-mail to vote.<br/>
        (This is to prevent skewing of results)
        <input type="text" id='tbEmail' name='signup_email'>
    </div>
    <div id="footer"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/colors.js"></script>
    <script src="http://jvectormap.com/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/jvectormap/maps/jquery-jvectormap-us-lcc-en.js"></script>
    <script src="/js/poll.js"></script>
    <script>$('#footer').load('/views/footer.html')</script>
</body>
</html>