<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Search Polls!</title>
  <meta name="description" content="Search for all the polls submitted by users and then filter the results!">
  <meta content="/images/favicon.ico" itemprop="image">
    <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link rel="stylesheet" href="/flat-ui/jquery-ui-1.10.3.custom.min.css" type="text/css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/search.css" type="text/css" />
  <link rel="stylesheet" href="/css/dash.css" type="text/css" />
  <link rel="stylesheet" href="/css/footer.css" type="text/css" />
</head>
<body>
  <div id='dash'></div>
  <div id='wrapper'>
    <div id='branding'>
      <!-- <span id='nameLogo'>kingpoll.</span><div id='wrapLogo'><img src="/images/kingstache_666.png" alt="There's a poll for that." id='imgLogo'></div> -->
      <!-- <br/><span id='slogan'>There's a poll for that.</span> -->
    </div>
    List Filter: <input type='text' id='search-filter' class='list-filter'/>
    <div class='list-table-container'>
      <table id='view-poll-list' align="center">
        <tr>
          <th>Question</th>
          <th class="column-space" />
          <th>Description</th>
          <th class="column-space" />
          <th>Votes</th>
        </tr>
      </table>
      <div id='searching'>Searching. Please Wait...</div>
    </div>
  </div>
  <div class="navbar navbar-inverse navbar-bottom">
    <div class="container-fluid" id='footer'></div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="/js/colors.js"></script>
  <script src="/js/signup.js"></script>
  <script src="/js/search.js"></script>
  <script type="text/javascript" src="/js/dashboard.js"></script>
  <script src="/js/handlebars-v1.3.0.js"></script>
  <script id="list-poll-item" type="text/x-handlebars-temple">
  <tr class='poll-item'>
  <td>
  <a href='/p/{{p_id}}' class='list-text'>{{p_q}}</a>
  </td>
  <td />
  <td>
  {{p_desc}}
  </td>
  <td />
  <td>
  {{p_total}}
  </td>
  </tr>
  </script>
  <script>$('#dash').load('/views/dash.html')</script>
  <script>$('#footer').load('/views/footer.html')</script>
</body>
</html>