<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>kingpoll.</title>
    <link rel="stylesheet" href="/css/radiobutton.css" type="text/css" />
    <link rel="stylesheet" href="/css/signup.css" type="text/css" />
    <link rel="stylesheet" href="/css/dash.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />
</head>
<body>
  <div id='wrapper'>
    <div class='container'>
        Mailing Address
      <div class='fields'></div>
      <form method="post" id='formSignup'>
      </form>
    </div>
  </div>
  <div id="footer"></div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/js/colors.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/signup.js"></script>
  <script>$('#dash').load('/views/dash.html')</script>
  <script>$('#footer').load('/views/footer.html')</script>
</body>
</html>