<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>kingpoll.</title>
    <link rel="stylesheet" href="/flat-ui/jquery-ui-1.10.3.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/css/signup.css" type="text/css" />
    <link rel="stylesheet" href="/css/dash.css" type="text/css" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />
</head>
<body>
  <div id='dash'></div>
  <div id='wrapper'>
    <div id='branding'>
      <!-- <img src="/images/kingpoll_347x270_666.png"> -->
      <!-- <span id='nameLogo'>kingpoll.</span><div id='wrapLogo'><img src="/images/kingstache_666.png" alt="There's a poll for that." id='imgLogo'></div> -->
      <br/><!-- <span id='slogan'>There's a poll for that.</span> -->
    </div>
    <form method="post" id='newuser'>
      <div class='formSignup'>
        <div class='header'>Signup</div>
          <div class="field">
            <input id="tbEmail" type="email" class='f' name='email' 
            oninvalid="setCustomValidity('Example: username@kingpoll.com')" 
            onchange="try{setCustomValidity('')}catch(e){}" required />
            <label for="tbEmail">Email</label>
          </div>
          <div class="field">
            <input id="tbUsername" type="text" class='f' name='username' pattern='[A-z0-9 _]{1,}' maxlength='20' required />
            <label for="tbUsername">Username</label>
          </div>
          <div class="field">
            <input id="tbPassword" type="password" class='f'  name='password' required />
            <label for="tbPassword">Password</label>
          </div>
          <div class="field">
            <input id="tbCheckPassword" type="password" class='f' name='password'  required />
            <label for="tbCheckPassword">Re-type Password</label>
          </div>
          <div id='submit_signup'>
            <button type='submit' id='submit'>Signup!</button>
          </div>
      </div>
      <div>We will be implementing a point system in the future. You will get a points multiplier for any additional information you give us, but feel free to leave it empty.<br><span class="italic">Disclaimer: We will be using information you provide us to track demographics and statistics to share with the world (we hope to be the wikipedia of opinions).</span></div>
      <div class='formSignup'>
        <div class='header'>Optional Information</div>
        <div class="field">
          <input id="tbName" type="text" class='f mult' name='name' />
          <label for="tbName">Name</label>
        </div>
        <div class="field checkradio">
          <input class='f fn' disabled='disabled'/>
          <label>Gender</label>
          <input id="tbMale" type='radio' class='radio-cb mult' name='gender' value='m' />
          <label for="tbMale" class='radio-cb-label'>Male</label>
          <input id="tbFemale" type='radio' class='radio-cb mult' name='gender' value='f'/>
          <label for="tbFemale" class='radio-cb-label'>Female</label>
        </div>
        <div class="field birth">
          <label for="tbBirth">Birth Date</label>
          <input id="tbBirth" class='f mult' type="text" name='birth' placeholder='dd/mm/yyyy'/>
        </div>
        <!-- <div class="field relationship">
          <label>Relationship</label>
          <label>
            <select id="relationship">
              <option value="">Choose One</option>
              <option value="Married">Married</option>
              <option value="Single">Single</option>
              <option value="Complicated">Dating</option>
              <option value="Complicated">It's Complicated</option>
            </select>
          </label>
        </div> -->
        <!-- <div id='mult'>Multiplier:<br/>+0%</div> -->
      </div>
    </form>
  </div>
  <div class="navbar navbar-inverse navbar-bottom">
    <div class="container-fluid" id='footer'></div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="/js/colors.js"></script>
  <script src="/js/signup.js"></script>
  <script type="text/javascript" src="/js/dashboard.js"></script>
  <script>$('#dash').load('/views/dash.html')</script>
  <script>$('#footer').load('/views/footer.html')</script>
</body>
</html>