<div id='wrapper' class='container-fluid'>
  <div id='branding'>
    <div id='wrapLogo'></div>
    <br/><!-- <span id='slogan'>There's a poll for that.</span> -->
  </div>
  <div id='notes' class='col-md-8'>
    <div class='group upcoming'>
      <h4>Upcoming Features</h4>
      <span class='title'>Personality graph comparison</span>
      <span class='desc'>We want you to be able to overlap your radar chart with your friends or anyone else in the world</span>
      <span class='title'>More Maps!</span>
      <span class='desc'>We're looking to implement the map for Europe next, then a world map.</span>
      <span class='title'>Poll Series</span>
      <span class='desc'>Link polls in a series for follow-up questions or use it to create a multi-path story.</span>
      <span class='title'>Badges/Achievements</span>
      <span class='desc'>No point having an account if it doesn't mean anything.</span>
    </div>
    <div class='group issues'>
      <h4>Known Issues</h4>
      <span class='title'>All devices/browsers</span>
      <span class='desc'>- Link scraper in new poll creation will sometimes show Error 404 even though link works</span>
      <span class='desc'>- Poll pie chart animation will lag if left too long</span>
      <span class='title'>Safari</span>
      <span class='desc'>Cannot vote with private browsing due to the fact that Safari does not allow localStorage to be used. Working on cookies shim.</span>
      <span class='title'>WP8</span>
      <span class='desc'>Random Button does not work. Suspecting onclick call not working properly. Sockets not working 100%.</span>
    </div>
    <div class='group updates'>
      <h4>Update Notes</h4>
      <span class='title'>20/9/2014</span>
      <span class='desc'>Add personality radar chart</span>
      <span class='desc'>Moved changelog from home page to its own location</span>
      <span class='desc'>Added Telize as a secondary IP geolocation JSON call</span>
      <span class='desc'>Added Telize as a secondary IP geolocation JSONt call</span>
      <span class='title'>11/9/2014</span>
      <span class='desc'>Can now upload your display picture! 160x160px max size.</span>
      <span class='title'>28/8/2014</span>
      <span class='desc'>Added contact form to contact page for easier interaction.</span>
      <span class='title'>25/8/2014</span>
      <span class='desc'>Introducing user accounts and a brand new landing page!</span>
      <span class='title'>26/6/2014</span>
      <span class='desc'>Switched out DISQUS comments for FB.</span>
      <span class='title'>25/6/2014</span>
      <span class='desc'>Fixed issue where DISQUS and description would reload when someone voted. Added function to hide results until user votes.</span>
      <span class='title'>24/6/2014</span>
      <span class='desc'>Added sorting to poll list. Cleaner social sharing buttons! Fixed issue where poll kept jumping back to Canadian map on vote.</span>
      <span class='title'>19/6/2014</span>
      <span class='desc'>Implemented fingerprinting analytics in place of email requirement when voting anonymously.</span>
      <span class='title'>11/6/2014</span>
      <span class='desc'>Performance and aesthetic changes, fixes on signup page, back-end changes.</span>
      <span class='title'>3/6/2014</span>
      <span class='desc'>Adding DISQUS comments</span>
      <span class='title'>26/5/2014</span>
      <span class='desc'>Added anonymous vote restriction to only allow @gmail.com</span>
      <span class='title'>29/4/2014</span>
      <span class='desc'>Fixed map size on load scaling to be very tiny</span>
      <span class='title'>17/2/2014</span>
      <span class='desc'>Added this update section. Changed how vote time averages are calculated. DB wipe.</span>
      <span class='title'>16/2/2014</span>
      <span class='desc'>Refined email verification text for clarity, some text changes around the site.</span>
      <span class='title'>13/2/2014</span>
      <span class='desc'>KingPoll accounts now vote properly.</span>
      <span class='title'>12/2/2014</span>
      <span class='desc'>Alpha release!</span>
    </div>
  </div>
</div>