<div id='wrapper'>
  <div id='branding'>
    <!-- <img src="/images/kingpoll_347x270_666.png"> -->
    <!-- <span id='nameLogo'>kingpoll.</span><div id='wrapLogo'><img src="/images/kingstache_666.png" alt="There's a poll for that." id='imgLogo'></div> -->
    <br/><!-- <span id='slogan'>There's a poll for that.</span> -->
  </div>
  <form action="/login" method="post">
    <div class='formSignup'>
      <div class='header'>Login</div>
      {{#if error}}
      <div class="error">Incorrect Username or Password! Please try again!</div>
      {{/if}}
        <div class="field">
          <input id="tbUsername" type="email" class='f' name='username' maxlength='50' required />
          <label for="tbUsername">Email</label>
        </div>
        <div class="field">
          <input id="tbPassword" type="password" class='f'  name='password' required />
          <label for="tbPassword">Password</label>
        </div>
        <div id='submit_signup'>
          <button type='submit' id='submit'>Login!</button>
        </div>
    </div>
  </form>
</div>