<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
    FB.init({
      appId      : '1447667995463132',
      status     : true,
      xfbml      : true,
      version    : 'v2.0'
  });
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/all.js";
   fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div id="wrapper" class="poll">
    <div id='question'>Getting poll, please wait...</div>
        <!-- <button id='click'>click</button>
        <button id='changepoll'>change poll</button>
        <button id='clearpoll'>clear</button> -->
        <div id="choices" class='choices'>
            <div class='radio'></div>
            <div class="share-buttons table" style="display: none;">
                <ul>
                    <li class="fb-share-button td">
                        <a id="fb-share-button" target="_blank">
                            <img src="/images/share/fb_share.png" width="30" height="30">
                        </a>
                    </li>
                    <li class="twitter-share-button1td">
                        <a href="https://twitter.com/intent/tweet?text={{title}}&url={{url}}&via=KINGPOLLInc%20%23kingpoll" target="_blank">
                            <img src="/images/share/twitter_share.png" width="30" height="30">
                        </a>
                    </li>
                    <li class="comment-button td">
                        <a id="comment-button" href="#messages">
                            COMMENT
                        </a>
                    </li>
                    {{#if highlightbutton}}
                    <li  id="highlight-container" class="highlight-button td">
                        <a id="highlight-button">
                            HIGHLIGHT
                        </a>
                    </li>
                    {{/if}}
                    {{#if unhighlightbutton}}
                    <li id="highlight-container" class="unhighlight-button td">
                        <a id="highlight-button">
                            UNHIGHLIGHT
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
        <div class='embed-wrap'>
            <div class='embed'></div>
            <div class='embed-href'></div>
        </div>
        <div id="tbDescription">
            <div class='tbDescription'></div>
        </div>
        <div id="results">
            <div class="veil">
                <div class="veil-table">
                    <div class='veil-tr'>
                        <div class='veil-td'>
                            Vote to view results!
                        </div>
                    </div>
                </div>
            </div>
            <svg id='pieTotal' class='stats'></svg>
            <svg id='barVoteTime' class='stats barchart'></svg>
        <!-- <svg id='lineVoteFreq' class='stats'></svg>
        <svg id='results_chart'></svg> -->
        <svg id='activeViewers'></svg>
    </div>
    <div id="mid">
        <div class="veil">
            <div class="veil-table">
                <div class='veil-tr'>
                    <div class='veil-td'>
                        Vote to view results!
                    </div>
                </div>
            </div>
        </div>
        <div id='mapButtons'>
            <!-- <input type="radio" id='radioWorld' class='radio-input' name='mapChoice' value='World' /><label for="radioWorld" class='radio-label'>World</label> -->
            <input type="radio" id='radioCA' class='radio-input' name='mapChoice' value='CA' /><label for="radioCA" class='radio-label'>Canada</label>
            <input type="radio" id='radioUS' class='radio-input' name='mapChoice' value='US' /><label for="radioUS" class='radio-label'>USA</label>
        </div>
        <!-- <div id="mapWorld" class='map'></div> -->
        <div class='mapcontainer'>
            <div id="mapUS" class='map'></div>
            <div id="mapCA" class='map'></div>
        </div>
    </div>
    <div id="messages">
        <!-- The empty element required for Disqus to loads comments into --> 
        <!-- <div id="disqus_thread"></div> -->
        <div class="fb-comments-wrap">
            <div class="fb-comments-wrap" data-href="http://www.kingpoll.com/p/{{pollid}}" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
        </div>
    </div>
    <!-- Adrian's code for commenting -->
<!--         <div id="messages">
        <span class="dsq-brlink">Loading Comments...</span>
    </div>
    <div id="messages-add-comments" class="col-xs-6">
        <form class="comment-form" id="comment-form" method="post">
            <input class="form-control" name="comment" placeholder="Enter Comment" />
        </form>
    </div> -->
</div>
<div class="voted-popup">
    <a id="voted-popup-close" class="voted-popup-close">X</a>
    <ul id="dropdownalerts" class="f-dropdown" data-dropdown-content>
        <li class="text large">
            You Voted!
        </li>
        <li class="text">
            Vote on another Poll:
        </li>
        <li class="random-poll-button">
            <a href="javascript:void(0)" onclick="randomPoll();">
                <span id="random-poll-button" class="btn btn-default btn-xs">
                    Random
                </span>
            </a>
        </li>
        <li class="text">
            Make your own Poll:
        </li>
        <li class="make-poll-button">
            <a href="/new">
                <span id="make-poll-button" class="btn btn-default btn-xs">
                    Make Poll
                </span>
            </a>
        </li>
        <li class="text">
            Follow Us:
        </li>
        <li>
            <div class="share-buttons table">
                <ul>
                    <li class="fb-like-button td">
                        <div class="fb-like" data-href="https://www.facebook.com/KingPollOfficial" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                    </li>
                    <li class="twitter-share-button1td">
                        <a href="https://twitter.com/kingpollinc" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @kingpollinc</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div style='display:none'>
    <div id='signup_box' title='Are you a robot?'>
        Please enter your e-mail to vote.<br/>
        (This is to prevent skewing of results)<br/>
        Currently we only accept @gmail.com.<br>Your vote will be deleted within 24-48 hours if not validated.<br>
        <input type="text" id='tbEmail' name='signup_email'>
    </div>
</div>
<div style='display:none'>
    <div id='emailExist_box' title="&nbsp;">
        Looks like you've signed up before!<br/>
        Please login first before you vote.<br/>
    </div>
</div>