<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
    FB.init({
      appId      : '1447667995463132',
      status     : true,
      xfbml      : true
  });
};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/all.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div id='dash'></div>
<div id="wrapper">
    <div id='question'>Getting poll, please wait...</div>
        <!-- <button id='click'>click</button>
        <button id='changepoll'>change poll</button>
        <button id='clearpoll'>clear</button> -->
        <div id="choices" class='choices'>
            <div class='radio'></div>
            <div class="share-buttons table" style="display: none;">
                <div class="fb-share-button td">
                    <a id="fb-share-button" target="_blank">
                        <img src="/images/share/fb_share.png">
                    </a>
                </div>
                <div class="twitter-share-button1td">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="ioKingpoll" data-count="none" data-text="{{title}}" data-url="{{url}}">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>
        </div>
        <div class='embed-wrap'>
            <div class='embed'></div>
            <div class='embed-href'></div>
        </div>
        <div id="tbDescription">
            <div class='tbDescription'></div>
        </div>
        <div id="results">
            <svg id='pieTotal' class='stats'></svg>
            <svg id='barVoteTime' class='stats barchart'></svg>
        <!-- <svg id='lineVoteFreq' class='stats'></svg>
        <svg id='results_chart'></svg> -->
        <svg id='activeViewers'></svg>
    </div>
    <div id="mid">
        <div id='mapButtons'>
            <!-- <input type="radio" id='radioWorld' class='radio-input' name='mapChoice' value='World' /><label for="radioWorld" class='radio-label'>World</label> -->
            <input type="radio" id='radioCA' class='radio-input' name='mapChoice' value='CA' /><label for="radioCA" class='radio-label'>Canada</label>
            <input type="radio" id='radioUS' class='radio-input' name='mapChoice' value='US' /><label for="radioUS" class='radio-label'>USA</label>
        </div>
        <!-- <div id="mapWorld" class='map'></div> -->
        <div class='mapcontainer'>
            <div id="mapUS" class='map'></div>
            <div id="mapCA" class='map'></div>
        </div>
    </div>
    <div id="messages">
        <!-- The empty element required for Disqus to loads comments into -->  
        <div id="disqus_thread"></div>
    </div>
    <!-- Adrian's code for commenting -->
<!--         <div id="messages">
        <span class="dsq-brlink">Loading Comments...</span>
    </div>
    <div id="messages-add-comments" class="col-xs-6">
        <form class="comment-form" id="comment-form" method="post">
            <input class="form-control" name="comment" placeholder="Enter Comment" />
        </form>
    </div> -->
</div>
<div style='display:none'>
    <div id='signup_box' title='Are you a robot?'>
        Please enter your e-mail to vote.<br/>
        (This is to prevent skewing of results)<br/>
        Currently we only accept @gmail.com.
        <input type="text" id='tbEmail' name='signup_email'>
    </div>
</div>