<div id='dash'></div>
<div id='wrapper' class='container-fluid'>
  <div id='branding'>
    <div id='wrapLogo'></div>
    <br/><!-- <span id='slogan'>There's a poll for that.</span> -->
  </div>
  <div class='col-sm-8 col-sm-offset-2 row'>
    <div class='card'>
      <div class='card-head'>Thank you for signing up to Kingpoll!</div>
      <div class='card-text'>
        We just sent you an email to verify your account. Please check your email!
      </div>
      <div class='card-text'>
        <a href="/"><label class='btnSolo'>Home Page</label>
        </a>
      </div>
    </div>
  </div>
</div>
