<div id='wrapper' class='container-fluid'>
  <div id='branding'>
    <div id='wrapLogo'></div>
    <br/><!-- <span id='slogan'>There's a poll for that.</span> -->
  </div>
  <div class='col-sm-8 col-sm-offset-2 row'>
    <div class='card'>
      <div class='card-head'>{{description}}</div>
      <div class='card-text'>
        <a href="/home"><label class='btnSolo'>Home Page</label>
        </a>
      </div>
    </div>
  </div>
</div>
