#feed{
  margin: 0 auto 0 auto;
  padding: 0;
  width: 90%;
  text-align:left;
}
#polls{
  border: 1px #ddd solid;
  height: 12em;
  overflow: hidden;
}
#polls>span{
  display:block;
}

#howto{
  text-align:left;
  margin-bottom:5rem;
}
#howto .text p{
  margin-after: 0;
}
.header{
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -0.035em;
  line-height: 0.8;
  margin: 0.5em 0.1em 0 0.1em;
  padding-bottom: 0.1rem;
  border-bottom:2px solid;
}
#howto p{
  text-align: justify;
  margin: 0.5em 1em 0.5em 1em;
}
ul{
  margin: 0;
}