*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: #666;
  text-align: center;
}
#wrapper{
  overflow:hidden;
  margin:auto auto 0 auto;
  position:relative;
  width: 50em;
  left:0; right:0;
  text-align: center;
  border-left: 1px #ddd solid;
  border-right: 1px #ddd solid;
}

#branding{
    margin-top: 9rem;
    margin-bottom: 1em;
}
#nameLogo{
    position: relative;
    font-weight: 900;
    font-size: 5em;
}
#nameLogo::before{
    content: 'Question';
    position: absolute;
    top:5.25rem;
    left: 3rem;
    font-size: 1rem;
}
#nameLogo::after{
    content: 'Everything';
    position: absolute;
    top:5.25rem;
    left:11.90rem;
    font-size: 1rem;
}
#branding>#slogan{
    font-size: 1em;
}
#wrapLogo{
    display:inline;
    position: relative;
}
#imgLogo{
    position:absolute;
    height: 15rem;
    top:-13.7rem;
    left:-18rem;
}

#feed{
  margin: 0 auto 0 auto;
  padding: 0;
  width: 90%;
  text-align:left;
}
#polls{
  border: 1px #ddd solid;
  height: 12em;
  overflow: hidden;
}
#polls>span{
  display:block;
}

#howto{
  text-align:left;
}
#howto .text p{
  margin-after: 0;
}
.header{
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -0.035em;
  line-height: 0.8;
  margin: 0.5em 0.1em 0 0.1em;
  padding-bottom: 0.1rem;
  border-bottom:2px solid;
}
#howto p{
  text-align: justify;
  margin: 0.5em 1em 0.5em 1em;
}
ul{
  margin: 0;
}