.account {
  margin-bottom: 15px !important;
}

.account .title {
  margin: 4rem auto 0 auto;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.7rem;
  word-wrap: break-word;
  border-bottom: 1px #ddd solid;
}

.account .personal-wrap, .account .stats-wrap, .account .attr-wrap, .account .upl-wrap, .account .polls-wrap{
	display:inline-block;
	text-align: left;
	min-width: 300px;
}

.account .personal-wrap {
  float: left;
  width: 20%;
  margin-top: 10px;
  position: absolute;
  left: 0;
  max-width:300px;
}

.account .personal-wrap, .account .stats-wrap {
  padding-left:1rem;
}

.account .attr-wrap, .account .upl-wrap, .account .polls-wrap{
  display:none;
  text-align: center;
}

.account .tabs {
  float: right;
  width: 78%;
  margin-top: 10px;
  right: 0;
}

.account .tabs .tab-button{
  text-align: center;
  cursor: pointer;
}

.account .tabs .tab-button.active{
  background-color: #ddd;
}

.account .tabs .tab-button:hover{
  background-color: #ddd;
}

.account .tab-container {
  border-bottom: 2px #ddd solid;
}

.account .tabs .tab-button h2{
  padding: 10px 0;
  margin: 0;
}

.account .tabs .tab-content{
  margin: 10px 0;
}

.account .polls-wrap ul {
  list-style-type: none;
}

.account .dp, .account .personal-info{
	padding-left:1rem;
  overflow-wrap: break-word;
}

.account .ptitle{
  font-size:1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.account .pie-wrap{
  display:inline-block;
  margin: 10px;
  width: 300px;
}

.account .table {
  width:100%;
  text-align: center;
}

.account .table * {
  font-size: 1rem;
  vertical-align: middle;
  line-height: 1rem;
}

.account .poll .btn {
  font-weight: bold;
  background-color: transparent;
  color: #555;
  margin-right: 1rem;
}

.account .legend-color{
  display: inline-block;
  height: 22px;
  width: 15px;
  margin: 1px 5px 1px 0;
}
.account .legend-text{
  text-align: left;
}

.account .pie-wrap tspan{
  font-size:1.4rem;
  /*color:inherit;*/
}

.account .tr{
  margin-bottom:2px;
}

.account #make-uplpoll-button {
  display: block;
  color: #ffffff;
  padding: 15px;
  font-size: 1.2em;
  background-color: lightblue;
  width: 150px;
  text-decoration: none;
  margin: 5px auto;
}

@media all and (min-width: 767px) and (max-width: 1175px) {
  .account .tabs {
    width: 65%;
  }
}

@media all and (max-width: 767px) {
  .account .personal-wrap {
    float: none;
    position: relative;
  }

  .account .tabs {
    float: none;
    width: 100%;
    position: relative;
  }
}