.account .title {
  margin: 4rem auto 0.25rem auto;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.7rem;
  word-wrap: break-word;
  border-bottom: 1px #ddd solid;
}

.account .personal-wrap, .account .stats-wrap, .account .attr-wrap, .account .upl-wrap, .account .polls-wrap{
	display:inline-block;
	float:left;
	padding-left:2rem;
	text-align: left;
	min-width: 320px;
}

.account .polls-wrap ul {
  list-style-type: none;
}

.account .dp{
	text-align: center;
}

.account .pie-wrap{
  display:inline-block;
}