.barchart rect {
  fill: steelblue;
}

.barchart text {
  fill: #fff;
  text-shadow: 0 0 0 1rem black;
  font-size: 1.5rem;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
  fill: #000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}