.barchart rect {
  fill: steelblue;
}

.barchart text {
  fill: #fff;
  text-shadow: 0 0 0 1rem black;
  font-size: 1.5rem;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
  fill: #000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.piechart text{
  fill: #888;
  font-family: inherit;
  font-size: 1.5rem;
  text-anchor: middle;
  alignment-baseline: middle;
}

#activeViewers text{
  fill: #888;
  font-family: inherit;
  font-size: 1.5rem;
  text-anchor: middle;
  alignment-baseline: middle;
}
#activeViewers text tspan {
  font-size:2rem;
  font-weight: bold;
}
#activeViewers text tspan:first-child{
  font-size:2.5rem;
  font-weight: bold;
}
