.barchart div {
  display: inline-block;
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.barchart rect {
  fill: steelblue;
}

.barchart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}


.axis text {
  font: 10px sans-serif;
  fill: #000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}