/*#dash>*:not(.right), #login-wrap{
    display:inline-block;
    margin: 0.75rem;
}*/
/*#dash{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3em;
    position: fixed;
    border-bottom: 1px #ddd solid;
    background-color: #555;
    color: #fff;
    z-index: 100;
    top:0;
    text-align: left;
    min-width: 25rem;
}*/
 #dash *, #dash a, #dash a:visited, #dash a:active, .divider{
    color:#fff;
    text-decoration: none;
    /*font-weight: bold;*/
}
.navbar-brand{
    font-weight: bold;   
}
#dash ul a:hover{
    background-color:#fff;
    color:#555;
}
.dropdown-menu{
    text-align: justify;
    padding-top: 0;
    border:1px #fff solid;
}
#dash .dropdown-toggle:hover .caret{
    background-color:#fff;
    color:#555;
}
.search {
    /*margin-left: 50px;*/
    z-index: 2;
}
#dash .left{
    position: relative;
    float:left;
    z-index: 5;
}
.mid{
    /*width: 40%;*/
}
#dash .right{
    position: absolute;
    display: inline-block;
    right: 1rem;
    float:right;
    z-index: 0;
    min-width: 15rem
}
#login-wrap{
    z-index: 5;
    position: absolute;
    right:3rem;
}
.navbar-fixed-top{
    border:none;
    text-align: center;
}
.navbar-fixed-top input{
    border:1px solid #fff;
}
#nav{
    visibility: hidden;
}
#nav-wrap{
    float: right;
    display:inline-block;
    z-index: 0;
    right: 0;
    top:0;
    float:right;
}

.navbar-inverse{
    background-color: #555;
    border-color: #555;
}
.navbar-brand{
    color:#fff !important;
    padding-left:0.15rem;
}
.navbar-header img{
    width: 2.2rem;
    margin-top: 0.4rem;
    margin-left:0.8rem;

}
.navbar-header button:last-of-type{
    margin-right:0.5rem;
}
.navbar-toggle{
    /*margin-right: 0;*/
}
.navbar-right:last-child{
    margin-right: 0 !important;
}
.navbar-form{
    /* margin: 0px; */
}
#search{
    margin-left: 0.4rem;
}
#search button:hover, #dash input[type='submit']:hover{
    background-color: #fff;
    color: #555;
}
#dash input[type='submit']{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
#search *, .dropdown *{
    background-color: #555;
}
#dash input, #dash button{
}
#dash .divider{
    background-color:white;
    margin: auto;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    width: 90%;
}
.dropdown>a{
    background-color: #555;
}
.navbar-right{
    margin:0;
}
.login-div{
    padding: 3px 20px;
}
.login-fields{
    width: 150px;
}
.login-submit{
    margin-top: 10px;
}