#dash *, #dash a, #dash a:visited, #dash a:active, .divider{
    color:#fff;
    text-decoration: none;
}
.navbar-brand{
    font-weight: bold;
    padding-top:18px;
    line-height: 15px;
}
#dash ul a:hover{
    background-color:#fff;
    color:#555;
}
.dropdown-menu{
    text-align: justify;
    padding-top: 0;
    padding-bottom: 0;
    border:1px #fff solid;
}
#dash .dropdown-toggle:hover .caret{
    background-color:#fff;
    color:#555;
}
.search {
    z-index: 2;
}
#dash .left{
    position: relative;
    float:left;
    z-index: 5;
}
#dash .right{
    position: absolute;
    display: inline-block;
    right: 1rem;
    float:right;
    z-index: 0;
    min-width: 15rem
}
#login-wrap{
    z-index: 5;
    position: absolute;
    right:3rem;
}
.navbar-fixed-top{
    border:none;
    text-align: left;
}
.navbar-fixed-top input{
    border:1px solid #fff;
}
#nav{
    visibility: hidden;
}
#nav-wrap{
    float: right;
    display:inline-block;
    z-index: 0;
    right: 0;
    top:0;
    float:right;
}

.navbar-inverse{
    background-color: #555;
    border-color: #555;
}
.navbar-brand{
    color:#fff !important;
    padding-left:0.15rem;
}
.navbar-header img{
    width: 2.2rem;
    margin-top: 0.4rem;
    margin-left:0.8rem;
}
.navbar-header button:last-of-type{
    margin-right:0.5rem;
}
#search{
    margin-left: 0;
}
#search button:hover, #dash input[type='submit']:hover{
    background-color: #fff;
    color: #555;
}
#dash input[type='submit']{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
#search *, .dropdown *{
    background-color: #555;
}
.dropdown.open .caret{
    background-color: #000;
}
#dash button{
    border-color: #fff;
}
#dash .divider{
    background-color:white;
    margin: auto;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    width: 100%;
}
.dropdown a{
    background-color: #555;
}
.login-div{
    padding: 3px 20px;
}
.login-fields{
    width: 150px;
}
.login-submit{
    margin-top: 10px;
}
.loginform{
    padding-bottom:3px;
}
.navbar-nav .open .dropdown-menu>li>a{
    padding:3px 20px;
}
@media screen and (min-width: 768px){
    .navbar-right:last-child{
        margin-right: 0 !important;
    }
    .navbar-right{
        margin:0;
    }
}
.useremail{
    cursor: pointer;
    position: absolute;
    right:10px;
    font-size: 12px;
    top:1px;
    font-weight: normal;
    z-index: 1;
}

@media screen and (max-width: 767px){
    .useremail{
        top:15px;
        right:60px;
    }
}