#footer{
    position: relative;
    height:0;
    background-color: #fff;
    line-height:1.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: #aaa;
}
#footer a{
    color: inherit;
    text-decoration: none;
}
#footer a:hover{
    color:#fff;
}
.navbar-bottom, #footer .navbar-collapse{
    height:3rem !important;
    min-height: 3rem !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    overflow:hidden;
}
#footer .navbar-collapse{
    float:none;
}
.navbar-bottom .navbar-nav li a{
    padding-bottom: 0 !important;
}
#footer .navbar ul{
    padding-bottom: 0 !important;
}
#footer .navbar .navbar-nav {
  display: inline-block;
  float: none;
}

#footer .navbar .navbar-collapse {
  text-align: center;
}

#footer{
    text-align: left;
}

#footer .footer-logo-wrap{
    display: inline-block;
    text-align: left;
    float:left;
}
#footer .footer-logo-wrap img{
    width: 2.2rem;
    margin-top: 0.4rem;
    margin-left:0.8rem;
}
#footer .footer-content{
    display: inline-block;
    margin-top:0.8rem;
    float:right;
    vertical-align: middle;
    text-align: center;
}

#footer .footer-content ul li{
    display:inline;
}

#footer .footer-content .section{
    display:inline;
}

#footer .footer-content .section2{
    float: right;
}
#footer .footer-content .section span{
    margin:0 0.4rem 0 0.4rem;
}