.top{
  margin:auto;
  margin-top: 3rem;
  position: relative;
  width: 90%;
  min-height: 15rem;
}
.top>*{
  display:inline-block;
}
#branding{
  position: relative;
  float:left;
  left:0;
  z-index: 2;
}
.wrap{
  display    : block;
  margin     : 0;
}
#stats-wrap{
  position: absolute;
  width: 80%;
  right:0;
  margin-top: 2rem;
}
#polls-wrap{
  margin-top: 2rem;
  min-width : 70%;
}
.card{
  display        : inline-block;
  /*box-shadow   : 0 0 0.5rem rgba(0, 0, 0, 0.1);*/
  width          : 10rem;
  padding-top    : 2rem;
  padding-bottom : 2rem;
  color          : #fff;
  margin-bottom  : 0.25rem;
}
.poll{
  cursor: pointer;
  border-top: 1px #ddd solid;
}
.polldesc{
  border: 1px #ddd solid;
}
.poll>*{
  display:inline-block;
}
.poll>span:nth-child(1){
  min-width:80%;
}
.poll>span:nth-child(2){
  min-width:20%;
}
#polls-wrap>.polldesc{
  max-width: 80%;
}

/* CUSTOMIZE THE CAROUSEL */

/* Carousel base class */
.carousel {
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 30rem;
  background-color:#666;
}
.carousel img:not(#imgLogo) {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
.carousel-control{
  background-image: none !important;
  /*background-color: #ddd;*/
  opacity: 0;
}
.carousel-control:hover{
  opacity: 0.2;
  background-color: #fff;
}
.carousel-control:hover span{
  opacity:1;
}
.carousel-control span{
  /*top:17% !important;*/
  /*font-size: 10rem !important;*/
  /*right:40% !important;*/
  z-index:1;
}
.carousel-indicators{
  bottom: 0;
}
.jumbotron{
  background-color: #fff;
}
#branding {
  top:2rem;
  z-index:0;
  float: none;
}
#imgLogo{
  top:-18rem;
  height:auto;
}
#nameLogo{
  color:#fff;
  bottom:0;
}
.container{
}
.jumbotron{
  margin:auto;
}