/*.top{
  margin:auto;
  margin-top: 3rem;
  position: relative;
  width: 90%;
  min-height: 15rem;
}*/
#branding{
  position: relative;
  float:left;
  left:0;
  z-index: 2;
}
/*.wrap{
  display    : block;
  margin     : 0;
}*/
#stats-wrap{
  /*position: absolute;
  width: 80%;
  right:0;
  margin-top: 2rem;*/
  
}
/*#polls-wrap{
  margin-top: 2rem;
  min-width : 70%;
}*/
.card{
  /*display        : inline-block;
  box-shadow   : 0 0 0.5rem rgba(0, 0, 0, 0.1);
  width          : 10rem;
  padding-top    : 2rem;
  padding-bottom : 2rem;*/
  color          : #fff;
  /*margin  : 0.25rem;*/
}
.card h1{
  font-weight: bold;
}
.poll{
  cursor: pointer;
}
.polldesc{
  padding: 0.25rem;
  border-top: 1px solid #ddd;
  text-align: justify;
}
/*.poll>*{
  display:inline-block;
}*/
/*.poll>span:nth-child(1){
  min-width:80%;
}
.poll>span:nth-child(2){
  min-width:20%;
}*/
/*#polls-wrap>.polldesc{
  max-width: 80%;
}*/

/* CUSTOMIZE THE CAROUSEL */

/* Carousel base class */
.carousel {
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 5;
  text-shadow:none;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 20rem;
  background-color:#666;
  min-width: 100%;
}
.carousel img:not(#imgLogo) {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
.carousel-control{
  background-image: none !important;
  text-shadow:none;
}
.carousel-control:hover{
  background-color: rgba(255,255,255,0.2)
}
.carousel-control span{
  /*top:17% !important;*/
  /*font-size: 10rem !important;*/
  /*right:40% !important;*/
  z-index:1;
}
.carousel-control:hover .opacity-full::before{
  opacity:1 !important;
}
.carousel-indicators{
  bottom: 0;
}
.jumbotron{
  background-color: #fff;
}
#branding {
  margin-top:8rem;
  top:0;
  z-index:0;
  float: none;
}
#imgLogo{
  top:-18rem;
  height:auto;
}
#nameLogo{
  color:#fff;
  bottom:0;
}
.jumbotron{
  margin:auto;
  padding:0;
  margin-top: 4rem;
}
.container{
  padding:0;
}
#polls-wrap .btn{
  /*margin:8px;*/
  font-weight: bold;
  border:none;
}
/*td{
  vertical-align: middle;
  line-height: 6;
}*/

.table-striped>tbody>td{
  margin:0;
  padding:0;
}

.table-striped>tbody>tr:nth-child(odd)>td {
  background-color: transparent;
}
.table-striped>tbody>tr:nth-child(even)>td{
  background-color: transparent;
}
.table-striped>tbody>tr:nth-child(4n+1)>td{
  background-color: #555;
  color:white;
}
.table-striped>tbody>tr:nth-child(4n-1)>td{
  color:#555;
}
.table-striped>tbody>tr:nth-child(4n-1):hover>td{
  background-color: #ddd; 
}
.table-striped>tbody>tr:nth-child(4n+1):hover{
  opacity:0.8;
}
.table *{
  font-size:1rem;
}
.table:last-child{
  margin-bottom: 5rem;
}