.top{
  margin:auto;
  position: relative;
  width: 90%;
  min-height: 15rem;
}
.top>*{
  display:inline-block;
}
#branding{
  position: absolute;
  float:left;
  left:0;
  z-index: 2;
}
.wrap{
  display    : block;
  margin     : 0;
}
#stats-wrap{
  position: absolute;
  width: 80%;
  right:0;
  bottom:0;
}
#polls-wrap{
  min-width : 70%;
}
.card{
  display        : inline-block;
  /*box-shadow   : 0 0 0.5rem rgba(0, 0, 0, 0.1);*/
  width          : 10rem;
  padding-top    : 2rem;
  padding-bottom : 2rem;
  color          : #fff;
  margin-bottom  : 0.25rem;
}
.poll{
  cursor: pointer;
  border-top: 1px #ddd solid;
}
.polldesc{
  border: 1px #ddd solid;
}
.poll>*{
  display:inline-block;
}
.poll>span:nth-child(1){
  min-width:80%;
}
.poll>span:nth-child(2){
  min-width:20%;
}
#polls-wrap>.polldesc{
  max-width: 80%;
}