*, *:before, *:after {
  box-sizing            : border-box;
  margin                : 0;
  border-radius         : 0 !important;  
  -moz-box-sizing       : border-box;
  -webkit-box-sizing    : border-box;
  -webkit-border-radius : 0 !important;
  -moz-border-radius    : 0 !important;
}

html{
  height    : 100%;
  width     : 100%;
  font-size : 1rem;
}
body{
  height           : 100%;
  width            : 100%;
  min-width        : 15rem;
  margin           : 0;

  background-color : white;
  font-family      : "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
  color            : #666;
  text-align       : center;
}

#wrapper{
  position       : relative;
  left           : 0; right:0;
  overflow       : hidden;
  height         : auto !important;
  height         : 100%;
  min-height     : 100%;
  margin         : 0 auto -3rem auto;
  text-align     : center;
}
.about#wrapper{
  max-width: 50rem;
}
#branding{
  /*min-width     : 25rem;*/
  margin-top    : 4rem;
  margin-bottom : 1rem;
  color         : #666;
  background: url("/images/kingpoll_347x270_666.png") no-repeat center;
  height:18rem;
}
#nameLogo{
  position    : relative;
  font-size   : 5rem;
  font-weight : 900;
}
#nameLogo::before{
  content   : 'Question';
  position  : absolute;
  top       : 5.25rem;
  left      : 3rem;

  font-size : 1rem;
}
#nameLogo::after{
  content   : 'Everything';

  position  : absolute;
  top       : 5.25rem;
  left      : 11.90rem;

  font-size : 1rem;
}
#branding #slogan{
  font-size : 1rem;
}
#wrapLogo{
  position : relative;
  height   : 0;
}
#imgLogo{
  position : relative;
  top      : -16.5rem;
  height   : 15rem;
}

.italic{
  font-style: italic;
}

.left{
  text-align: left;
}

.ml2r{
  margin-left:2rem;
}

.inline-block{
  display: inline-block;
}
.inline{
  display: inline;
}

.table{
  display:table;
}

.tr{
  display:table-row;
}

.td{
  display:table-cell;
}