* {
  padding: 0px;
  margin: 0px;
}
#wrapper{
  margin-bottom: 0rem;
}

#question {
  font-size:2rem;
  font-weight:700;
  word-wrap: break-word;
  margin: 4rem auto 0.25rem auto;
  padding-bottom: 1rem;
  line-height: 1.7rem;
  border-bottom: 1px #ddd solid;
}

#tbDescription{
  border-bottom: 1px #ddd solid;
  display:none;
}

#results_chart>path{
  opacity:1;
  pointer-events: all;
}
#results_chart>path:hover{
  opacity: 0.7;
  pointer-events: all;
}
#results {
  margin: 0 auto 0 auto;
  /*height: 15rem;*/
  position: relative;
  border-bottom: 1px #ddd solid;
}
#results_chart{
  margin: auto;
}
#mid{
  height: 25rem;
  position: relative;
  overflow: hidden;
  border-bottom: 1px #ddd solid;
  text-align: right;
}
#mid>* {
  display: inline-block;
  position: relative;
}
#mapButtons{
  position: absolute;
  left:0;
  min-width: 15%;
  z-index: 3;
}
#mapButtons > .radio-input{
  display: none;
}
#mapButtons > .radio-label{
  display: block;
  position: relative;
  font-size: 2rem;
  text-align: right;
}
#mapButtons > .radio-label::after{
  position: absolute;
  content:"";
  width: 1rem;
  height: 1rem;
  border-left: 0.5rem transparent solid;
  border-bottom: 0.5rem transparent solid;
  opacity:0;
  top:1rem;
  right:-1.5rem;
  border-color: inherit;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.15s ease opacity;
  -moz-transition: 0.15s ease opacity;
  -ms-transition: 0.15s ease opacity;
  -o-transition: 0.15s ease opacity;
  transition: 0.15s ease opacity;
}
#mapButtons > .radio-label:hover::after{
  opacity: 0.5;
}
#mapButtons > .radio-input:checked + label::after{
  opacity: 1;
}
.mapcontainer {
  position:absolute;
  height: 100%;
  width: 85%;
  background-color: white; /*#aaa*/
}
.map {
  position:absolute;
  display:block;
  width:100%;
  background-color: white; /*#aaa*/
}

#txtDescription{
  height: 100px;
  width: auto;
  display: block;
}

#messages {
  margin-top: 1rem;
  background-color: white;
  display: block;
  clear: both;
  text-align: center;
}

/*
.jvectormap-region {
  stroke: #afafaf;
  stroke-width: 2;
}*/

.jvectormap-zoomin, .jvectormap-zoomout{
  padding: 0;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  line-height: 0.6rem;
  border: 1px #ddd solid;
  color: #bbb;
}
.jvectormap-zoomin:hover, .jvectormap-zoomout:hover{
  background-color: #000;
}

svg path:hover{
  cursor: pointer;
}

.stats{
  display: inline;
  width: 15rem;
  height:15rem;
  vertical-align: middle;
  margin: auto;
}

#results div{
  position: relative;
  display: inline-block;
  height:100%;
}

#results div *{
  display: inline-block;
  vertical-align: middle;
}