* {
  margin  : 0px;
  padding : 0px;
}
#wrapper{
  margin-bottom : 0rem;
}

#question {
  margin         : 4rem auto 0.25rem auto;
  padding-bottom : 1rem;

  font-size      : 2rem;
  font-weight    : 700;
  line-height    : 1.7rem;
  word-wrap      : break-word;
  border-bottom  : 1px #ddd solid;
}

#tbDescription{
  display       : none;
  border-bottom : 1px #ddd solid;
}
.linkdesclist{
  margin-top: 0.25rem;
  display: none;
}
.linkdesclist ol{
  padding-left: 3rem;
}
iframe, object, embed {
        max-width: 100%;
}

#signup_box input{
  border : 1px solid #ddd;
}

#results_chart>path{
  opacity        : 1;
  pointer-events : all;
}
#results_chart>path:hover{
  opacity        : 0.7;
  pointer-events : all;
}
#results {
  position      : relative;

  margin        : 0 auto 0 auto;

  border-bottom : 1px #ddd solid;

  /*height      : 15rem;*/
}
#results_chart{
  margin : auto;
}
#mid{
  position      : relative;

  overflow      : hidden;
  height        : 25rem;

  text-align    : right;
  border-bottom : 1px #ddd solid;
}
#mid>* {
  position : relative;
  display  : inline-block;
}
#mapButtons{
  position  : absolute;
  left      : 0;
  z-index   : 3;

  min-width : 15%;
}
#mapButtons > .radio-input{
  display : none;
}
#mapButtons > .radio-label{
  position   : relative;
  display    : block;

  cursor     : pointer;
  font-size  : 2rem;
  text-align : right;
}
#mapButtons > .radio-label::after{
  content            : "";

  position           : absolute;
  top                : 1rem;
  right              : -1.5rem;

  height             : 1rem;
  width              : 1rem;

  opacity            : 0;
  border-bottom      : 0.5rem transparent solid;
  border-left        : 0.5rem transparent solid;
  border-color       : inherit;

  transform          : rotate(45deg);
  transition         : 0.15s ease opacity;

  -webkit-transform  : rotate(45deg);
  -moz-transform     : rotate(45deg);
  -ms-transform      : rotate(45deg);
  -o-transform       : rotate(45deg);
  -webkit-transition : 0.15s ease opacity;
  -moz-transition    : 0.15s ease opacity;
  -ms-transition     : 0.15s ease opacity;
  -o-transition      : 0.15s ease opacity;
}
#mapButtons > .radio-label:hover::after{
  opacity : 0.5;
}
#mapButtons > .radio-input:checked + label::after{
  opacity : 1;
}
.jvectormap-label{
  background-color : transparent;
  border           : none;
}
.map_label{
  padding          : 0.3rem;

  background-color : #555;
  text-align       : justify;
  border           : 1px solid #fff;
}
.map_label .legend-color{
  display       : block;

  height        : 1rem;
  width         : 1rem;
  margin-top    : 0.1rem;
  margin-right  : 0.2rem;
  margin-bottom : 0.1rem;
  margin-left   : 0.2rem;
}
.h5{
  font-size : 1rem;
}
.h6{
  font-size : 0.9rem;
}
.align-right{
  text-align : right;
}
.align-left{
  text-align : left;
}
.map_label td{
  padding-right : 0.2rem;
  padding-left  : 0.2rem;
}
.mapcontainer {
  position         : absolute;

  height           : 100%;
  width            : 85%;

  background-color : white; /*#aaa*/
}
.map {
  position         : absolute;
  display          : block;
  width            : 100%;
  height           :100%;
  background-color : white; /*#aaa*/
}

#txtDescription{
  display : block;
  height  : 100px;
  width   : auto;
}

#messages {
  display          : block;
  clear            : both;

  margin-top       : 1rem;

  background-color : white;
  text-align       : left;
}

/*
.jvectormap-region {
  stroke       : #afafaf;
  stroke-width : 2;
  */
}

.jvectormap-zoomin, .jvectormap-zoomout{
  height           : 1rem;
  width            : 1rem;
  padding          : 0;

  background-color : transparent;
  color            : #bbb;
  line-height      : 0.6rem;
  border           : 1px #ddd solid;
}
.jvectormap-zoomin:hover, .jvectormap-zoomout:hover{
  background-color : #000;
}

.jvectormap-label {
  z-index : 11;
}
svg path:hover{
  cursor : pointer;
}

.stats{
  display        : inline;
  vertical-align : middle;

  height         : 15rem;
  width          : 15rem;
  margin         : auto;
}

#results div{
  position : relative;
  display  : inline-block;
  height   : 100%;
}

#results div *{
  display        : inline-block;
  vertical-align : middle;
}

.share-buttons {
  padding-bottom: 5px;
}