* {
  margin  : 0px;
  padding : 0px;
}
body{
  z-index:-100;
}
#wrapper{
  margin-bottom : 0rem;
}

#question {
  margin         : 4rem auto 0.25rem auto;
  padding-bottom : 1rem;

  font-size      : 2rem;
  font-weight    : 700;
  line-height    : 1.7rem;
  word-wrap      : break-word;
  border-bottom  : 1px #ddd solid;
}

#tbDescription{
  display       : none;
  border-bottom : 1px #ddd solid;
}
.linkdesclist{
  margin-top: 0.25rem;
  display: none;
}
.linkdesclist ol{
  padding-left: 3rem;
}
object, embed {
  max-width: 100%;
}

#signup_box input{
  border : 1px solid #ddd;
}

#results_chart path{
  opacity        : 1;
  pointer-events : all;
}
#results_chart path:hover{
  opacity        : 0.7;
  pointer-events : all;
}
#results {
  position      : relative;

  margin        : 0 auto 0 auto;

  border-bottom : 1px #ddd solid;

  /*height      : 15rem;*/
}
#results_chart{
  margin : auto;
}
#mid{
  position      : relative;

  overflow      : hidden;
  height        : 25rem;

  text-align    : right;
  border-bottom : 1px #ddd solid;
}
#mid>* {
  position : relative;
  display  : inline-block;
}
#mapButtons{
  position  : absolute;
  left      : 0;
  z-index   : 3;

  min-width : 15%;
}
#mapButtons .radio-input{
  display : none;
}
#mapButtons .radio-label{
  position   : relative;
  display    : block;

  cursor     : pointer;
  font-size  : 2rem;
  text-align : right;
}
#mapButtons .radio-label::after{
  content            : "";

  position           : absolute;
  top                : 1rem;
  right              : -1.5rem;

  height             : 1rem;
  width              : 1rem;

  opacity            : 0;
  border-bottom      : 0.5rem transparent solid;
  border-left        : 0.5rem transparent solid;
  border-color       : inherit;

  transform          : rotate(45deg);
  transition         : 0.15s ease opacity;

  -webkit-transform  : rotate(45deg);
  -moz-transform     : rotate(45deg);
  -ms-transform      : rotate(45deg);
  -o-transform       : rotate(45deg);
  -webkit-transition : 0.15s ease opacity;
  -moz-transition    : 0.15s ease opacity;
  -ms-transition     : 0.15s ease opacity;
  -o-transition      : 0.15s ease opacity;
}
#mapButtons .radio-label:hover::after{
  opacity : 0.5;
}
#mapButtons .radio-input:checked + label::after{
  opacity : 1;
}
.jvectormap-label{
  background-color : transparent;
  border           : none;
}
.map_label{
  padding          : 0.3rem;

  background-color : #555;
  text-align       : justify;
  border           : 1px solid #fff;
}
.map_label .legend-color{
  display       : block;

  height        : 1rem;
  width         : 1rem;
  margin-top    : 0.1rem;
  margin-right  : 0.2rem;
  margin-bottom : 0.1rem;
  margin-left   : 0.2rem;
}
.h5{
  font-size : 1rem;
}
.h6{
  font-size : 0.9rem;
}
.align-right{
  text-align : right;
}
.align-left{
  text-align : left;
}
.map_label td{
  padding-right : 0.2rem;
  padding-left  : 0.2rem;
}
.mapcontainer {
  position         : absolute;

  height           : 100%;
  width            : 85%;

  background-color : white; /*#aaa*/
}
.map {
  position         : absolute;
  display          : block;
  width            : 100%;
  height           :100%;
  background-color : white; /*#aaa*/
}

#txtDescription{
  display : block;
  height  : 100px;
  width   : auto;
}

#messages {
  display          : block;
  clear            : both;

  margin-top       : 1rem;

  background-color : white;
  text-align       : center;
}
.fb-comments-wrap{
  margin: auto;
  width:95%;
}
.fb-comments, .fb-comments iframe[style], .fb-comments span[style] {
  width: 100% !important;
}

/*
.jvectormap-region {
  stroke       : #afafaf;
  stroke-width : 2;
  */
}

.jvectormap-zoomin, .jvectormap-zoomout{
  height           : 1rem;
  width            : 1rem;
  padding          : 0;

  background-color : transparent;
  color            : #bbb;
  line-height      : 0.6rem;
  border           : 1px #ddd solid;
}
.jvectormap-zoomin:hover, .jvectormap-zoomout:hover{
  background-color : #000;
}

.jvectormap-label {
  z-index : 11;
}
svg path:hover{
  cursor : pointer;
}

.stats{
  display        : inline;
  vertical-align : middle;

  height         : 15rem;
  width          : 15rem;
  margin         : auto;
}

#results div{
  position : relative;
  display  : inline-block;
  height   : 100%;
}

#results div *{
  display        : inline-block;
  vertical-align : middle;
}

.share-buttons {
  padding-bottom: 5px;
}
.share-buttons div{
  display:inline-block;
}
.share-buttons ul {
  margin-bottom: 0px;
}
.share-buttons ul li{
  display:inline-block;
}
#comment-button, #highlight-button {
  color: white;
  padding: 20px 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: arial;
  cursor: pointer;
}
.comment-button {
  background-color: orange;
  padding: 5px 0 4px;
}
.highlight-button {
  background-color: green;
  padding: 5px 0 4px;
}
.unhighlight-button {
  background-color: lightgreen;
  padding: 5px 0 4px;
}
.comment-button a:hover, #highlight-container a:hover {
  text-decoration: none;
}
.table{
  display:table;
  width:350px;
  margin:auto;
}
.td{
  display:table-cell;
  vertical-align: top;
}
.twitter-share-button1td iframe{
  padding-top:2px;
  height:25px !important;
}

.choices .radio{
  padding-left:0;
}

.voted-popup {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #555;
  display:none;
  padding-top: 50px;
  z-index: 6;
}

.voted-popup .text{
  color: #ffffff;
  margin: 5px 0 5px;
}

.voted-popup .text.large{
  font-size: 18px;

}

.voted-popup .voted-popup-close {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  position: absolute;
  top: 50px;
  right: 10px;
  text-decoration: none;
  color: #555;
  cursor: pointer;
  margin-top:2px;
  padding: 0px 6px;
}
.voted-popup .voted-popup-close:hover{
  background-color: #555555;
  color: #ffffff;
}

.voted-popup #dropdownalerts {
  width: 150px;
  margin: 0 auto;
  list-style: none;
}

.voted-popup span.btn{
  display: inline-block;
  padding: 10px 0;
  width:100px;
  font-size: 1.2em;
  font-weight:bold;
}

.voted-popup #random-poll-button {
  border:1px solid #d25757;
  background-color:#d25757;
  color: #ffffff;
}
.voted-popup #random-poll-button:hover{
  border:1px solid #d25757;
  background-color:#ffffff;
  color: #d25757; 
}

.voted-popup #make-poll-button {
  border:1px solid #517da2;
  background-color:#517da2;
  color: #ffffff;
}
.voted-popup #make-poll-button:hover {
  border:1px solid #517da2;
  background-color:#ffffff;
  color: #517da2; 
}

.voted-popup .table {
  display: block;
  width: 150px;
}

.voted-popup .fb-like-button {
  width: 50px;
  padding-top: 2px;
}

.voted-popup .fb-like-button iframe {
  max-width: none;
}
.animated {
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -ms-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
  display:inline-block;
}
.animated.hinge {
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -ms-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }
  80% {
    -moz-transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }
  80% {
    -o-transform: translateY(-10px);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.veil{
  width: 100%;
  height: 100%;
  position: absolute !important;
  background-color: white;
  z-index: 5;
  top:0;
  left:0;
}
.unveil{
  z-index:-5;
  color:transparent;
}
.veil-table{
  display:table !important;
  width:100%;
  height:100%;
}
.veil-tr{
  display:table-row !important;
}
.veil-td{
  display:table-cell !important;
  vertical-align: middle;
  text-align: center;
  font-size:3rem;
  font-weight: bold;
}

