*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*card stuff*/
.card {
  position:relative;
  width:100%;
  /*max-width: 40rem;*/
  margin: 2rem auto;
  background: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.card-head, .card-text{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.card-head{
  font-size: 2.5rem;
  font-weight: bold;
}
.card-text{
  font-size:1.2rem;
  padding-bottom: 1rem;
}
.card-list{
  width: 20rem;
}
.card-list>ul{
  text-align: left;
  margin:0;
  margin-left:0.5rem;
}

/*button*/
.btnSolo{
  position: relative;
  display:inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color:#fff;
  padding: 1.5rem;
  text-align: center;
  opacity: 0.5;
}
.btnSolo:hover{
  opacity:0.7;
}
.btnSolo:active{
  opacity:1;
}
.right-align{
  text-align: right;
}
.left-align{
  text-align: left;
}
.radio-cb-label{
  width:auto;
  margin:0;
}
td{
  vertical-align: middle !important;
}
.cb{
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  width:0.1rem;
}
.radio-cb-label::before{
  top:-0.8rem;
}
.radio-cb-label::after{
  border:0.6rem solid;
  border-top:none;
  border-left:none;
  width: 1.2rem;
  height: 2rem;
  left:0;
  top:-1.7rem;
}

.row:last-of-type{
  margin-bottom:5rem;
}